// Colors

// Primary
$blue: hsl(223, 87%, 63%);

// Secondary
$blue-pale: hsl(223, 100%, 88%);
$red-light: hsl(354, 100%, 66%);

// Neutral
$gray: hsl(0, 0%, 59%);
$blue-very-dark: hsl(209, 33%, 12%);

// Typography
$font-main: 'Libre Franklin', sans-serif;

