<section class="contact">
  <h1 class="contact__heading">
    We are launching <span class="heading__accent">soon!</span>
  </h1>
  <p class="contact__body">Subscribe and get notified</p>
  <form
    #f="ngForm"
    class="contact__form"
  >
    <div class="input-wrapper">
      <input
        #email="ngModel"
        [class.invalid-input]="email.invalid && email.touched"
        class="form__input"
        email
        name="email"
        ngModel
        placeholder="Your email address"
      >
      <p
        *ngIf="email.invalid && email.touched"
        class="form__hint"
      >Please provide a valid email address</p>
    </div>
    <button [disabled]="f.invalid" [class.invalid-button]="f.invalid" class="form__button">Notify Me</button>
  </form>
</section>
