@import "src/assets/scss/variables";

.contact {
  display: grid;
  grid-gap: 3rem;
  text-align: center;
}

.contact__heading {
  color: $gray;
  font-size: 2.5rem;
  font-weight: lighter;
}

.heading__accent {
  color: $blue-very-dark;
  font-weight: bold;
}

.contact__body {
  font-size: 1.4rem;
}

.contact__form {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.form__input {
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  border: 1px solid $blue-pale;
  outline: none;
  border-radius: 3rem;
  width: 100%;
}

.form__input::placeholder {
  color: $blue-pale;
}

.invalid-input {
  border-color: $red-light;
}

.form__hint {
  color: $red-light;
  font-size: 1.2rem;
  font-style: italic;
  margin: 1rem 0;
}

.form__button {
  color: white;
  background-color: $blue;
  font-size: 1.3rem;
  font-family: $font-main;
  font-weight: bold;
  padding: 1.5rem 3rem;
  box-shadow: 5px 0 5px $blue-pale;
  outline: none;
  border: none;
  border-radius: 3rem;
  width: 100%;
}

.invalid-button {
  background-color: $blue-pale;
}


@media (min-width: 768px) {
  .contact__heading {
    font-size: 4.5rem;
  }

  .contact__body {
    font-size: 2rem;
  }

  .contact__form {
    grid-template-columns: 2fr 1fr;
  }

  .input-wrapper {
    text-align: left;
  }

  .form__input {
    height: 5rem;
  }

  .form__hint {
    margin-left: 3rem;
  }

  .form__button {
    height: 5rem;
  }
}
