/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
@import "assets/scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  font-family: $font-main;
  color: $blue-very-dark;
}
